<!--<p>
  users works!
</p>-->
<mor-spinner [visible]= "isLoading"></mor-spinner>
<mor-user-form (userAddEvent)= "addUser($event)"></mor-user-form>
<div>
  <h3>user list:</h3>
  <ul class="list-group-users">
      <li class="list-group-item" *ngFor = "let user of users" 
      [class.active]="currentUser == user"
       (click)="select(user)">
      <!--  Name: {{user.name}}, Email: {{user.email}} -->
      <mor-user [user] = user (deleteEvent)= "deleteUser($event)"
    (editEvent) = "updateUser($event)"> </mor-user>
    <ul>
          <li *ngFor = "let title of user.postTitles">
            {{(title | async)?.title}}
          </li>
        </ul>                             
    </li>
  </ul>
 </div>