<mor-spinner [visible]= "isLoading"></mor-spinner>
<div>
  <h3>Customer list:</h3>
<div>
  <ul class="list-group customers">
    <li *ngFor= "let customer of customers" 
  [class.active]="currentCustomer == customer"
  (click)="select(customer)"
    class="list-group-item">
     <mor-customer [customer]= "customer" (deleteEvent)= "deleteCustomer($event)"></mor-customer>
    </li>
  </ul>


      



