<!--<p>
  invoice-form works!
</p> -->

<h2>Add Invoice</h2>
<form (ngSubmit)= "onSubmit(f)" #f = "ngForm" >
  <div class="form-group"  >
    <label for="name">Product Name</label>
    <input type="text"
            class="form-control"
            id="name" required
            name= "name"
             [(ngModel)] = "invoice.name">
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number"
            class="form-control"
            id="amount" required
             name= "amount" 
              [(ngModel)] = "invoice.amount">      
  </div>
  <button type="submit" class="btn btn-primary" >Submit</button>
</form>
<!--<mor-invoice [invoice] = invoice (invoiceAddEvent)= "addInvoice($event)"></mor-invoice>-
<mor-invoices >  </mor-invoices>-->