<h1>
  {{title}}
</h1>
<nav>
 <!-- <a routerLink= "/users">Users</a> |
  <a routerLink= "/posts">Posts</a> |
  <a routerLink= "/products">Products</a> |
  <a routerLink= "/Invoice-Form">Invoice-form</a> |
  <a routerLink= "/Invoices">Invoices</a> |-->
  <a routerLink= "/Customers">Customers</a>
</nav>
<router-outlet></router-outlet>