<!--<p>
  invoices works!
</p> -->
<mor-spinner [visible]= "isLoading"></mor-spinner>
<mor-invoice-form (invoiceAddEvent)='addInvoice($event)'></mor-invoice-form>

<div>
  
  <head>
    <style> 
      table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td{
        padding: 15px;
      }
    </style>
  </head>
  <h3>Invoices list:</h3>
   <table border="1">
     <mor-invoice [invoice] = invoice ></mor-invoice>
     <!--   <tr>
          <th>Product Name</th>
          <th>Amount</th>
        </tr>

        <tr  *ngFor = "let invoice of invoices" 
         [class.active]="currentInvoice == invoice"
       (click)="select(invoice)"
       class= "list-group-item">
           <td> {{invoice.name}} </td>
           <td> {{invoice.amount}} </td>           
     </tr> -->
     <ul class="list-group-invoices">
        <li  *ngFor = "let invoice of invoices" 
         [class.active]="currentInvoice == invoice"
       (click)="select(invoice)"
       class= "list-group-item">
        ProductName: {{invoice.name}},
         Amount: {{invoice.amount}}           
     </li>
</ul>
   
  </table>
</div>

