<!-- <p>
  products works!
</p> -->
<div>
  <head>
    <style> 
      table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td{
        padding: 15px;
      }
    </style>
  </head>
  <h3>Products list:</h3>
   <table border="1">
        <tr>
          <th>Product Id</th>
         <th>Product Name</th>
          <th>Cost</th>
          <th>Category Id</th>
        </tr>
      
        <tr  *ngFor = "let product of products" >
           <td> {{product.pid}} </td>
           <td> {{product.pname}} </td> 
           <td> {{product.cost}} </td>
           <td> {{product.categoryId}} </td>
           <mor-product [product]="product" 
           (deleteEvent)="deleteProduct($event)"
        ></mor-product>          
     </tr>
  </table>
</div>


<mor-products-join></mor-products-join>