<!--<p>
  posts works!
</p> -->
<mor-spinner [visible]="isLoading"></mor-spinner>
<mor-post-form (postAddEvent)='addPost($event)'></mor-post-form>
<div>
  <h2>posts list:</h2>
  <ul class="list-group-posts">
    <li *ngFor = "let post of posts"
    [class.active]="currentPost == post"
       (click)="select(post)"
       class="list-group-item" >
       <mor-post [post] = post (deleteEvent)="deletePost($event)"
        (cancelEvent)="saveChange($event)"
        (editEvent)= "updatePost($event)"
        ></mor-post>
   <!--   Auther:{{post.author}}, Content:{{post.content}}, Title:{{post.title}} -->
   <ul>
  <li *ngFor = "let name of post.userNames">
            {{(name | async)?.name}}
          </li>
  </ul>
  </li>
   </ul>
 </div>